:host {

  height: 100%;

  .card.bg-light.publisher-container {
    width: 100%;
    height: 100%;

    .publisher {
      width: 100%;
      height: 70%;
    }

    .container {
      margin: 0;
    }

    .col-3 {
      padding-left: 6px;
    }

    .invite {
      margin-top: 25px;
    }

    .viewers, .status {
      font-size: 13px;
    }
  }

}


