<div class="card bg-light subscriber-container">
  <div class="video-container"  [class.display-none]="isOffline">
    <video id="video" class="subscriber"></video>
    <p class="glyphicon glyphicon-fullscreen fullscreen-icon" [class.fullscreen]="inFullScreen"
       (click)="changeFullScreen()" *ngIf="!isSafari"></p>
  </div>
  <div *ngIf="isOffline" class="offline"  >
    <p>Трансляция скоро начнётся</p>
  </div>
  <div class="container">
    <div class="row">
      <p class="offset-1">Зрителей: {{isOffline ? viewersCount: viewersCount - 1}}</p>
    </div>
    <div class="row invite align-bottom">
      <span id="invite-link" class="offset-1">Пригласительная ссылка</span>
    </div>
    <div class="row">
      <input class="col-6 offset-1" [value]="inviteLink" type="text">
      <button class="btn btn-info col-4" ngxClipboard [cbContent]="inviteLink">Скопировать</button>
    </div>
  </div>
</div>

