:host {

  height: 100%;

  .card.bg-light.subscriber-container {
    width: 100%;
    height: 100%;

    .display-none {
      display: none;
    }

    .subscriber {
      width: 100%;
      height: 70%;
    }

    .subscriber.fullscreen {
      width: 100%;
      height: 100%;
    }

    .glyphicon-fullscreen {
      opacity: 60%;
    }

    .offline {
      width: 100%;
      height: 70%;
      background-color: black;
      color: white;
      text-align: center;
      p{
        position: relative;
        top: 50%;
      }
    }

    .container {
      margin: 0;
    }

    .col-3 {
      padding-left: 6px;
    }

    .invite {
      margin-top: 25px;
    }
  }

}

.fullscreen-icon{
  z-index: 99;
  position: absolute;
  color: black;
  top: 68%;
  right: 10px;
}
.fullscreen-icon.fullscreen{
  z-index: 99;
  position: absolute;
  color: black;
  top: 98%;
  right: 10px;
}
