:host {
  width: 300px;

  .subscriber {
    height: 500px;
  }

  .offline {
    z-index: 2;
    position: absolute;
    background-color: black;
    height: 500px;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
    color: white;
    top: 7px;
    width: 95%;
  }
}
